@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

li {
  border: 1px solid #333;
  margin-left: -1px;
  margin-top: -1px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
}

span {
  font-weight: 400;
  margin: 0;
}

a {
  color: #333;
  transition: color 0.3s;
}

a:hover {
  color: #222;
}

#top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#logo {
  justify-self: end;
  height: 10vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

.doc-name {
  text-align: left;
}

.issue-button {
  font-size: calc(1em + 0.1vh);
  font-style: italic;
}

.name {
  font-size: calc(1em + 1.5vh);
}

.submit-button {
  border: none;
  background-color: #333;
  color: #ddd;
  border-radius: 1vh;
  font-size: calc(1em + 0.5vh);
  padding: 2vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #222;
}